
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: var(--brown-dark);
    }

body.lock {
    overflow: hidden;
}

      
    :root{
        
        --orange: #a56f6f;
        --green: #ADC178;
        --dark-green: #52503B;
        --milk: #F0EAD2;
        --brown-dark: #6F432B;


        --white: #eae7dc;
        --white1: hsl(0,0%,100%);
        --white2: hsl(0,0%,90%);
        --blue: hsl(215,100%,20%);
        --font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
    }

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

button  {
padding: 0;
border: none;
background-color: transparent;
cursor: pointer;
}

input[type="text"] {
    font-family: inherit;
    font-size: inherit; 
    line-height: inherit; 
    margin: 0; 
  }


.list-reset {
margin: 0;
padding: 0;
list-style: none;
}

.title-style{
    padding-top: 110px;
    margin-bottom: 40px;
    font-size: 1.3em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    color: var(--milk);
    box-shadow: 0px 0px 3px rgba(13, 111, 62, 0.08), 0px 2px 3px rgba(13, 111, 70, 0.16);
    border-radius: 5px;
    background-color: #817064;
    font-family: 'Ubuntu', monospace, sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s linear;
}

.btn:hover {
    color: var(--orange);
    background: #F0EAD2;
}

.glass {
    /* padding: 20px;
     background: rgba(255, 255, 255, 0.1); 
     background: rgba(68, 62, 52, 0.705);
    backdrop-filter: blur(10px); 
     border: 1px solid rgba(255, 255, 255, 0.4); 
     border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px; */
    padding: 20px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, .3));
    border-radius: 10px;
}

.glass:before {
     border-top: 2px solid rgba(225,225,225, 0.4);
     border-left: 1px solid rgba(225,225,225, 0.3);
     border-right: 1px solid rgba(225,225,225, 0.5);
}



.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    }

    /*header*/

    .header{
    width: 100vw;
    padding: 10px 0;
    height: 100px;
    background-color: #fbfbfc69;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    box-shadow: inset #817064 0 -5px 5px 0px;
}

  
.header__wrapper {
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
    width: 190px;
    }

.header__nav {
    position: fixed;
    width: 25%;
    height: 100vh;
    top: 100px;
    left: -100%;
    background: #817064;
    border-radius: 0 30% 10% 0;
    transition: all 0.5s ease-in-out;
    z-index: 100;
    }

.header__nav.nav-open {
    left: 0;
}

.header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 50px;
    font-family: 'Ubuntu', monospace, sans-serif;
    font-size: 18px;
    color: var(--milk);
    line-height: 72.5px;
    transition: all 0.5s ease-in-out;
}


.header-contacts__link {
    text-align: center;
    font-size: 16px;
    color:var(--dark-green);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header-contacts__link:hover {
    color: var(--orange);
}

   
     .header-contacts__icon{
    width: 20px;
    }

    .header-contacts__icon:hover{
    transform: scale(1.3);
    }

    .header-contacts{
    flex-direction: column;
    justify-content: flex-end;
    line-height: 30px;
    text-align: right;
   }

   .contacts_list{
       justify-content: flex-end;
       gap: 10px;
   }

   .hamburger {
    padding: 15px;
    flex-direction: column;
    justify-content: space-around;
    width: 70px;
    height: 70px;
    border: 5px solid var(--green);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

  
  .line1, .line2, .line3 {
    height: 3px;
    /* background-color: rgb(252, 227, 213); */
    background: var(--dark-green);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .hamburger.open .line1 {
    transform: translatey(12px);
  }
  
   
  .hamburger.open .line3 {
    transform: translatey(-12px);
  }
  
  .hamburger:hover{
    border: 5px solid var(--milk);
    cursor: pointer;
  }

  .hamburger.hamburger-open{
    border: 5px solid var(--milk);
}

  /*header-media*/

  @media (max-width: 767px) {


    .header {
        padding: 20px 0;
    }

    .header-contacts {
        display: none;
    }

  }


    
    /*main*/

    /* Hero*/

    .hero {
        background-image: url('../img/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center -100px;
        font-family: Montserrat Alternates, sans-serif;
    }

    .hero__container {
        width: 100vw;
        height: 100vh;
        justify-content: space-between;
        align-items: center;    
    }

    .hero__block {
        flex-basis: 270px;
        flex-direction: column;
        align-items: center;
    }

    .hero__block--central {
        flex-direction: column;
        flex-grow: 0.8;
        margin-bottom: 200px;
        max-height: 340px;
    }
    
    .hero__title {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 46px;
        letter-spacing: 2px;
        color: var(--milk);
    }

    .hero__desk{
        padding-top: 0;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 1px;
        color: var(--green);
    }

    .hero__heading {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: var(--milk);
    }

    .hero__descr{
        margin-top: 40px;
        margin-bottom: 10px;
        max-width: 500px;
        font-family: montserrat Alternates, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
        letter-spacing: 1.2px;
    }

    .three {
        margin-bottom: 20px;
        font-weight: bold;
        font-family: montserrat Alternates, sans-serif;
        color: var(--milk);
        font-size: 18px;
    }

    .hero__block--calculate {
        flex-direction: column;
        row-gap: 50px;
        margin-bottom: 100px;
        max-width: 300px;
        max-height: 700px;
    }

    .calculate__title {
        align-items: center;
        padding-top: 40px;
        color: var(--milk);
        font-size: 20px;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 2px;
        line-height: 130%;
    }

    .calculate__form {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        max-width: 300px;
        color: var(--milk);
        font-size: 14px;
    }

    .calculate__select {
        max-width: 300px;
    }

    @keyframes threeScale {
        from,
        50% {
            transform: scale(0.5);
        }
        62.5% {
            animation-timing-function: ease-in;
            transform: scale(1.3, 1.5);
        }
        68.75% {
            animation-timing-function: ease-out;
            transform: translateY(-37.5%) rotate(15deg);
        }
        75% {
            animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transform: translateY(-150%) rotate(5deg);
        }
        87.5% {
            transform: translateY(65%) rotate(-3deg);
        }
        to {
            transform: translateY(0) rotate(0);
        }
    }

       .hero__prize{
        margin-bottom: 150px;
            flex-direction: column;
            align-items: center;
            align-self: flex-end;
            max-height: 260px;
    }

    .hero__button {
        background-color: #d34f4f;
    }

    /* prize */
    
    .gift {
        --dur: 3s;
        position: relative;
        align-self: center;
        width: 9em;
        height: 9em;
    }
    .gift__bow,
    .gift__bow-center,
    .gift__bow-left,
    .gift__bow-right,
    .gift__box,
    .gift__lid,
    .gift__lid-shadow,
    .gift__star {
        position: absolute;
    }
    .gift__bow-center,
    .gift__bow-left,
    .gift__bow-right {
        background-color: var(--orange);
    }
    .gift__bow {
        animation: bowBounce var(--dur) ease-in-out infinite;
        bottom: 5.5em;
        left: 3.75em;
        width: 1.5em;
        height: 1em;
        transform-origin: 50% 230%;
    }
    .gift__bow-center {
        border-radius: 0.5em;
        width: 100%;
        height: 100%;
    }
    .gift__bow-left,
    .gift__bow-right {
        box-shadow: 0 0 0 0.4em var(--milk) inset;
        top: 0.3em;
        width: 2em;
        height: 2.5em;
        z-index: -1;
    }
    .gift__bow-left:before,
    .gift__bow-right:before {
        background-color: var(--milk);
        border-radius: inherit;
        content: "";
        display: block;
        position: absolute;
        inset: 0;
    }
    .gift__bow-left {
        animation: bowLeftPivot var(--dur) ease-in-out infinite;
        border-radius: 0.75em 0 1.5em 0.5em / 0.75em 0 1.5em 1.75em;
        right: calc(100% - 0.375em);
        transform: rotate(35deg);
        transform-origin: 100% 15%;
    }
    .gift__bow-left:before {
        clip-path: polygon(0 42%,100% 12%,100% 100%,0 100%);
    }
    .gift__bow-right {
        animation: bowRightPivot var(--dur) ease-in-out infinite;
        border-radius: 0 0.75em 0.5em 1.5em / 0 0.75em 1.75em 1.5em;
        left: calc(100% - 0.4em);
        transform: rotate(-35deg);
        transform-origin: 0% 15%;
    }
    .gift__bow-right:before {
        clip-path: polygon(0 12%,100% 42%,100% 100%,0 100%);
    }
    .gift__box,
    .gift__lid,
    .gift__lid-shadow {
        transform-origin: 50% 100%;
    }
    .gift__box {
        animation: boxBounce var(--dur) ease-in-out infinite;
        background:
            linear-gradient(var(--orange),var(--orange)) 50% 50% / 1.65em 100% no-repeat,
            var(--white2);
        border-radius: 0.75em;
        bottom: 0.25em;
        left: 1.65em;
        overflow: hidden;
        width: 5.7em;
        height: 4.5em;
    }
    .gift__lid,
    .gift__lid-shadow {
        border-radius: 0.5em;
        width: 6.5em;
        height: 1.65em;
    }
    .gift__lid {
        animation: lidBounce var(--dur) ease-in-out infinite;
        background:
            linear-gradient(var(--milk),var(--milk)) 50% 50% / 1.65em 100% no-repeat,
            var(--white1);
        bottom: 4.35em;
        left: 1.25em;
    }
    .gift__lid-shadow {
        animation: lidShadowBounce var(--dur) ease-in-out infinite;
        background-color: hsla(0,0%,0%,0.1);
        top: -0.75em;
        left: -0.5em;
    }
    .gift__star {
        animation: starRotateCW var(--dur) ease-in infinite;
        background-color: var(--white1);
        clip-path: polygon(50% 0,65% 35%,100% 50%,65% 65%,50% 100%,35% 65%,0 50%,35% 35%);
        transform: scale(0);
    }
    .gift__star--2,
    .gift__star--4,
    .gift__star--5 {
        animation-name: starRotateCCW;
    }
    .gift__star--1 {
        animation-delay: calc(var(--dur) * 0.5);
        top: 0;
        left: 8em;
        width: 0.75em;
        height: 0.75em;
    }
    .gift__star--2 {
        animation-delay: calc(var(--dur) * 0.125);
        top: 2em;
        left: 10em;
        width: 0.875em;
        height: 0.875em;
    }
    .gift__star--3 {
        animation-delay: calc(var(--dur) * 0.25);
        top: 5em;
        left: 0;
        width: 0.625em;
        height: 0.625em;
    }
    .gift__star--4 {
        top: 7em;
        right: 0;
        width: 0.875em;
        height: 0.875em;
    }
    .gift__star--5 {
        animation-delay: calc(var(--dur) * 0.375);
        top: 8.8em;
        left: 0.5em;
        width: 1.25em;
        height: 1.25em;
    }
    
    /* Animations */
    @keyframes bowBounce {
        from,
        50% {
            transform: translateY(0) rotate(0);
        }
        62.5% {
            animation-timing-function: ease-in;
            transform: translateY(75%) rotate(0);
        }
        68.75% {
            animation-timing-function: ease-out;
            transform: translateY(-37.5%) rotate(15deg);
        }
        75% {
            animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transform: translateY(-150%) rotate(5deg);
        }
        87.5% {
            transform: translateY(65%) rotate(-3deg);
        }
        to {
            transform: translateY(0) rotate(0);
        }
    }
    @keyframes bowLeftPivot {
        from,
        50% {
            transform: rotate(35deg);
        }
        62.5% {
            transform: rotate(45deg);
        }
        75% {
            transform: rotate(30deg);
        }
        87.5% {
            transform: rotate(45deg);
        }
        to {
            transform: rotate(35deg);
        }
    }
    @keyframes bowRightPivot {
        from,
        50% {
            transform: rotate(-35deg);
        }
        62.5% {
            transform: rotate(-45deg);
        }
        75% {
            transform: rotate(-34deg);
        }
        87.5% {
            transform: rotate(-45deg);
        }
        to {
            transform: rotate(-35deg);
        }
    }
    @keyframes boxBounce {
        from,
        50% {
            transform: translateY(0) scale(1,1);
        }
        62.5% {
            transform: translateY(4%) scale(1.12,0.89);
        }
        75% {
            transform: translateY(-11%) scale(0.92,1.1);
        }
        87.5% {
            transform: translateY(0) scale(1.05,0.9);
        }
        to {
            transform: translateY(0) scale(1,1);
        }
    }
    @keyframes lidBounce {
        from,
        50% {
            transform: translateY(0) scale(1,1) rotate(0);
        }
        62.5% {
            animation-timing-function: ease-in;
            transform: translateY(45%) scale(1.14,0.95) rotate(0);
        }
        68.75% {
            animation-timing-function: ease-out;
            transform: translateY(-22.5%) scale(1.05,1.03) rotate(15deg);
        }
        75% {
            animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transform: translateY(-90%) scale(0.96,1.1) rotate(5deg);
        }
        87.5% {
            transform: translateY(30%) scale(1.12,0.93) rotate(-3deg);
        }
        to {
            transform: translateY(0) scale(1,1) rotate(0);
        }
    }
    @keyframes lidShadowBounce {
        from,
        50% {
            transform: translateY(0) scale(1,1) rotate(0);
        }
        62.5% {
            animation-timing-function: ease-in;
            transform: translateY(10%) scale(1.14,0.95) rotate(0);
        }
        68.75% {
            animation-timing-function: ease-out;
            transform: translateY(-10%) scale(1.05,1.03) rotate(15deg);
        }
        75% {
            animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transform: translateY(-30%) scale(0.96,1.1) rotate(5deg);
        }
        87.5% {
            transform: translateY(10%) scale(1.12,0.93) rotate(-3deg);
        }
        to {
            transform: translateY(0) scale(1,1) rotate(0);
        }
    }
    @keyframes starRotateCW {
        from {
            transform: scale(0) rotate(0);
        }
        25% {
            animation-timing-function: ease-out;
            transform: scale(1) rotate(0.25turn);
        }
        50%,
        to {
            transform: scale(0) rotate(0.5turn);
        }
    }
    @keyframes starRotateCCW {
        from {
            transform: scale(0) rotate(0);
        }
        25% {
            animation-timing-function: ease-out;
            transform: scale(1) rotate(-0.25turn);
        }
        50%,
        to {
            transform: scale(0) rotate(-0.5turn);
        }
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        flex-flow: column nowrap;
        justify-content: center; /* см. ниже */
        align-items: center;
        z-index: 99;
        /* Чтобы окно не прилипало к границе
        браузера установим отступы */
        padding:30px 0;
    }

    .modal__dialog {
        flex-shrink: 0;
        flex-grow: 0;
        width: 100%;
        min-height: 100%;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .modal__content {
        margin: 50px 0;
        padding: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        background: #fff;
        border-radius: 10px;
        width: 300px;
        max-width: 100%;
        overflow: visible;
        transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
        transform: scale(0.9);
        opacity: 0;
    }

    .modal__form {
        flex-direction: column;
        align-items: center;
    }

    .modal__close {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    

/*    company */

.section__company {
    padding-top: 20px;
    width: 100vw;
    height: 100vh;
}

.company-title {
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #817064;
    max-width: 290px;
    font-family: Montserrat Alternates, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    color: var(--dark-green);
    letter-spacing: 1px;
}

.company__descr {
    padding: 30px;
    font-family: Montserrat Alternates, sans-serif;
    font-size: 18;
    font-weight: bold;
    line-height: 36px;
}

.company__mission {
    align-self: center;
    text-align: center;
    max-width: 300px;
    font-style: italic;
    line-height: 35px;
}

.company__list {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.company__item {
flex-basis: 300px;
height: 400px;
border-radius: 10px;

}

.company__img {
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.company__img-order {
background-image: url('../img/ladder-to_order.jpg');
background-position: center -150px;
}

.company__img-constructor {
    background-image: url('../img/ladder-constructor.jpg');
    background-position: center -100px;

    }

.company__item-heading {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--dark-green);
}

.company__item-descr {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 30px;
    border-left: 1px solid #817064;
    border-right: 1px solid #817064;
    border-bottom: 1px solid #817064;
    border-radius: 0 0 10px 10px;
}
              

        /*types*/
    
    /*.section-types__title{
        margin-bottom: 40px;
    }

    .types-two__element,
    .types-two__list{
        flex-direction: column;
    }

    .types-one{
        margin-bottom: 40px;
    }

    .types-one__list,
    .types-two__block{
        justify-content: space-between;
    }

    .types-one__item{
        width: 200px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
         }

    .types-one__type{
        margin: 0;
        padding: 20px;
        background-color: var(--alt-color);
        border-radius: 10px 10px 0 0;
        text-align: center;
        color: var(--white-color);
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1px;

    }

    .types-one__foto{
        width: 100%;
        height: 255px;
     }

    .types-two__block{
        margin-bottom: 80px;
    }

    .types-two__list{
        margin-bottom: 30px;
        padding: 20px;
     }

    .types-two__item:not(:last-child){
        margin-bottom: 30px;
        }

    .types-two__title{
        margin-bottom: 40px;
    }

    .types-two_desc{
        display: block;
        margin-bottom: 10px;
        line-height: 30px;
        font-family: 'Ubuntu', monospace, sans-serif;
    }

    .types-frame{
        margin: 0 auto;
        width: 150px;
        height: 100px;
        border-radius: 5px;
        overflow: hidden;
    }
    .types-frame_img{
        object-fit: contain;
    }

    .types-two__element{
        text-align: center;
        width: 300px;
        padding: 20px 10px 20px 20px;
        border: 1px solid var(--alt-color);
        border-radius: 10px;
    }

    .types-two__list__center{
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
    }

    .types-two__element__center{
        width: 50%;
        background-image: url('../img/bg_types.jpg');
    }

    .section-types__title__center{
        color: var(--white-color);
    }

    .types-two__item__center{
        margin-bottom: 30px;
        padding: 20px;
        width: 270px;
        background-color: var(--alt-color);
        border-radius: 20%;
        color: var(--white-color);
        font-weight: 600;
    }


    .types-materials{
        margin-bottom: 80px;
    }
    .types-materials__list{
        margin-bottom: 60px;
    }

    .types-materials__item{
        flex-wrap: wrap;
        width: 30%;
    } */
   
        /*advantage*/

    .section-advantage__list{
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .section-advantage__item{
        flex-direction: column;
        padding: 20px;
        width: 430px;
        height: 330px;
        border-radius: 10px;
        /* border: 2px solid var(--alt-color) ; */
    }

    .section-advantage__title{
        min-height: 50px;
        text-align: center;
        font-size: 18px;
        color: var(--main-color);
        line-height: 30px;

    }

    .section-advantage__desc{
        position: relative;
        padding-left: 50px;
        padding-bottom: 20px;
        display: block;
        font-family: 'Ubuntu', monospace, sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
        color: var(--alt-color);
        }

    .section-advantage__desc::before{
        content: "";
        position: absolute;
        top: 0;
        left: 20px;
        width: 7px;
        height: 15px;
        border-right: 3px solid var(--alt-color);
        border-bottom: 4px solid var(--alt-color);
        transform: rotate(45deg);
    }

    .advant_icons{
        margin: 0 auto 10px;
        width: 300px;
        fill: rgba(170,138,115, 0.3);
    }


 /*secions_complects*/

 .section_complects__list{
     flex-wrap: nowrap; 
     gap: 40px;
     justify-content: center;
 }
 
 .section_complects__item{
     gap: 10px;
     padding: 20px;
     width: 500px;
     max-height: 500px;
     flex-direction: column;
     background-color: var(--alt-color);
     border-radius: 10px;
 }

 .item_desc{
     display: block;
     margin-bottom: 10px;
     color: var(--white-color);
     font-size: 16px;
 }

 .item_desc__price{
     display: inline-block;
     margin-right: 10px;
    font-weight: 600;
 }

.item_pictures{
    gap: 30px;
}

 .item_picture{
    width: 200px;
    height: 300px;
    border: 3px solid var(--white-color);
    border-radius: 5px;
    object-fit: cover;
 }

 .section_complects__btn{
    margin-top: 10px;
    width: 100%;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: var(--white-color);
    box-shadow: 3px 3px 2px -1px  var(--alt-color);
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s linear;
 }

 .section_complects__btn:hover{
     background-color: #a57566;

 }

 .prise{
     display: inline-block;
     padding: 5px;
     font-weight: 600;
     font-size: 18px;
     color: red;
     letter-spacing: .1em;
    background-color: #fff;
    border-radius: 5px;
 }

/*section_servises*/

.servises_subtitle{
    margin: 40px 0;
    text-align: center;
    font-weight: 600;
}

.servises_wrap{
justify-content: space-around
;
}

.servises_desc{
    max-width: 750px;
    line-height: 30px;
}

.servises_ladder{
    width: 200px;
    fill: #3f3120;
}

.section_servises__list{
    flex-wrap: wrap;
    justify-content: space-around;
}

.section_servises__item{
    width: 300px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f4ebdb;
    box-shadow: 3px 3px 2px -1px  var(--alt-color);
    }

.section_servises__item:nth-child(-n+3){
    margin-bottom: 30px;
}

.section_servises{
    margin-bottom: 60px;
}

.servises_number{
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
}

.servises_actions{
    padding-top: 10px;
    line-height: 25px;
    }

.servises_accent{
    display: block;
    padding: 10px 0;
    font-weight: 600;
}

.servises_form{
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-image: url('../img/form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.serises_desc-block{
    position: relative;
    flex-direction: column;
}

.form_desc{
    padding: 20px;
    max-width: 700px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    background-color: var(--white-color);
    border-radius: 10px;
    color: var(--main-color);
}

.btn_price{
    padding: 10px 15px;
    width: 300px;
    height: 50px;
    background-color: #f0094a;
}

.servises_accent__form{
    position: absolute;
    top: 80px;
    right: 220px;
    width: 100px;
    text-align: center;
    background-color: white;
    border: 3px solid red;
    border-radius: 10px;
    color: red;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
}


/*Gallery*/

.gallery_block{
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
   }

.section-gallery{
    position: relative;
}

.switch_icon{
    position: absolute;
    top: 40%;
    padding: 10px;
    width: 80px;
    fill: var(--alt-color);
    border-radius: 10%;
    background-color: #fff;
    border: 1px solid var(--alt-color);
    transition: all .7s linear;
    z-index: 100;
}

.switch_icon__right{
    right: 0;
}

.switch_icon:hover{
    fill: var(--white-color);
    background-color: var(--alt-color);
}

.switch_icon:active{
transform: scaleY(0.7);
}

   .gallery_image{
       width: 400px;
       transition: .5s linear;
   }

   .gallery_image:hover{
       transform: scale(1.1);
       box-shadow: 0px 0px 16px var(--main-color);
   }

   

/*survey*/

.survey__form{
    flex-direction: column;
    margin: auto;
    width: 600px;
}

.surey-label{
    display: block;
}
.survey-radio,
.survey__input{
    margin-bottom: 20px;
}

.survey-radio{
    margin-right: 5px;
}

.survey__question{
    margin: 30px 0;
}

.survey__question:first-child{
    margin: 0;
    margin-bottom: 30px;
}

/*  Contacts    */

.contacts_block{
    justify-content: center;
    gap: 50px;
}

.contacts_map{
    width: 500px;
    height: 300px;
}

.contacts_info{
    max-width: 500px;
}

.info{
    display: block;
    line-height: 40px;
}

/*   footer   */

.footer{
    min-height: 100px;
    background-color: var(--orange);
}

/*   Modal    */

.overlay{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--milk);
    transition: .5s linear;
}

.overlay.overlay_active{
    display: block;
    transition: .5s linear;
 
}

.modal_window{
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 60px);
    height: 100%;
    background-color: var(--white-color);
    border-radius: 20px;
    z-index: 999;
    transition: .5s linear;
}

.modal_window.modal_window_active{
    display: block;
    transition: .5s linear;
}

.modal_header{
    position: sticky;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    top: 0;
    z-index: 100;
    right: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 3px solid var(--alt-color);
}

.modal_title{
    font-size: 26px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}

.modal__close{
    display: flex;
    align-self: flex-end;
    /* position: absolute;
    top: 25px;
    right: 40px; */
    font-size: 50px;
    line-height: 40px;
    transition: .5s linear;
}

.modal__close:hover{
    color: var(--green);
    /* transform: scale(1.3); */
    cursor: pointer;
}

.modal_heading{
    margin: 30px 0;
    text-align: center;
    font-size: 22px;
}


.modal_list{
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 30px;
}


.modal_item{
    flex-direction: column;
}

.modal_name{
    gap: 20px;
    line-height: 100px;
}

.name_style{
    font-style: italic;
    font-weight: 600;
}

.name_style::after{
    content: "";
    margin-left: 10px;
    border-left: 2px solid var(--main-color);
    line-height: 60px;
    transform: rotate(45deg);
}

.modal_picture{
    gap: 60px;
}

/* .modal_item__small{
    position: relative;
    flex-direction: column;
} */

.modal_picture{
    width: 200px;
}

/* .modal_picture__small{
    width: 100px;
    
} */

/* .modal_picture__small-bottom{
    position: absolute;
    top: 130px;
    right: 50px;
    border: 2px solid var(--alt-color);
    border-radius: 10px;

} */

/*modal_form*/

.modal_form{
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 80px 30px 30px 30px;
    background-color: var(--white-color);
    border-radius: 20px;
    overflow-x: auto;
    background-color: var(--white-color);
    border-radius: 10px;
    transition: .5s linear;
    z-index: 100;
    }

    .modal_form.modal_form__active{
        display: block;
    }

.modal_close__form{
    padding: 0;

    }

  